.hero-box {
  background-color: #000 !important;
  position: relative;
  width: 100%;
}
.stripes-bg {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  pointer-events: none;
}
.stripes-bg__item {
  position: absolute;
  will-change: transform;
}
.stripes-1 {
  top: -4%;
  left: -20%;
  width: 50%;
}
.stripes-2 {
  bottom: -20%;
  right: -4%;
  /* top: 0;
  left: -40%; */
  width: 23%;
}
.stripes-3 {
  bottom: -15%;
  left: -3%;
  /* top: 0;
  left: -40%; */
  width: 33%;
}
.fill--orange {
  fill: #ffb354;
}
.fill--fucsia {
  fill: #fe518a;
}
.fill--green {
  fill: #4ba69d;
}
img {
  max-width: 100%;
}
.side-heading {
  position: relative;
  top: 2%;
  padding: 1rem;
  font-family: "Aquire-Bold" !important;
  color: #111;
  font-size: 2.7vw;
  -ms-writing-mode: tb-lr;
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hero-side-heading {
  top: "10px";
  position: absolute;
  overflow: hidden;
  font-size: 2.4vw !important;
  font-family: "Aquire-Bold" !important;
  color: #111;
  text-transform: uppercase;
  -ms-writing-mode: tb-lr;
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hero-span {
  background-image: url(../../assets/gradiant.png);
  background-clip: text;
  background-size: 300% 300%;
  -webkit-text-fill-color: transparent;
  animation: 30s ease-in-out 0s infinite normal none running benDQH;
}
@keyframes benDQH {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}
.hero-center-text {
  line-height: 5rem;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  text-align: center;
  color: whitesmoke;
  font-size: 3.4vw;
  line-height: 5vw;
  /* font-size: 2.8rem; */
  font-family: "PressStart2P";
  text-transform: capitalize;
}
.button-stroke {
  display: block;
  width: calc(100% - 40px);
  height: 20px;
  stroke: whitesmoke;
  position: absolute;
  left: 20px;
  bottom: -17px;
  stroke-width: 3;
}
.button-stroke:nth-child(2) {
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
  stroke: #ffb354;
  stroke-width: 3;
  transition: stroke-dashoffset 800ms ease-out;
}
.hero-btn:hover .button-stroke:nth-child(2) {
  stroke-dashoffset: 0;
}

/* ////////// */
.menu-main__path {
  position: absolute;
}
.stroke--pink-3 {
  stroke: #b177e7;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 40px;
}
.stroke--green {
  stroke: #4ba69d;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 40px;
}
.stroke--fucsia {
  stroke: #fe518a;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 40px;
}
.menu-main__path--1 {
  right: -10%;
  top: -10%;
  text-align: right;
  width: 40%;
}
.menu-main__path--2 {
  right: -18%;
  top: -10%;
  text-align: right;
  width: 40%;
}
.menu-main__path--3 {
  left: -10%;
  bottom: -20%;
  text-align: left;
  width: 40%;
}
.feature-box {
  text-align: center;
  background-color: transparent;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 5rem;
  max-width: 1200px !important;
}
.feature-box-shadow {
  mix-blend-mode: difference;
  position: absolute;
  top: 10px;
  left: 10px;
  right: -10px;
  bottom: -10px;
  padding: 5px;
  border-radius: 0.25rem;
  border: 1px solid rgb(255, 255, 255);
}
