@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@400;500;600;700&&family=Source+Code+Pro&family=Montserrat&display=swap");

@font-face {
  font-family: "Digital";
  src: url(./assets/fonts/Digital\ Dismay.otf);
}
@font-face {
  font-family: "PressStart2P";
  src: url(./assets/fonts/PressStart2P.ttf);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

body {
  background-color: #002e4b;
}
p {
  margin-bottom: 0 !important;
}

.App {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url(./assets/back2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  position: fixed !important;
  opacity: 0.9;
  overflow: auto;
}
.box {
  background: rgba(21, 0, 62, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.box-2 {
  background: rgba(21, 0, 62, 0.9) !important;
}
.block {
  border-radius: 50%;
  margin-right: 1rem;
}
.farming-text span {
  font-weight: 400 !important;
}
